html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, .4);
  background-color: rgba(0, 0, 0, .8);
  z-index: 10;
}

nav a#home {
  display: inline-block;
  width: 70px;
  height: 100%;
  background: transparent url(../img/startup-talks-logo.png) center center no-repeat;
  background-size: contain;
}

nav ul {
  display: inline-block;
  float: right;
}

nav ul li {
  display: inline-block;
  margin: 0 0 0 10px;
}

nav ul li a, nav a.mobile-menu {
  display: block;
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

nav ul li a:hover, nav a.mobile-menu {
  text-decoration: none;
  color: #fff;
  border-bottom-color: aqua;
}

nav ul li.active a {
  border-bottom: 2px solid aqua;
}

header.page-home {
  background: transparent url("../img/background.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

.cover, .cover-half, .cover-third {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.cover-half {
  height: 50%;
}

.cover-third {
  height: 34%;
}

.screen {
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  position: relative;
}

#cta {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 50%;
}

#cta .logo {
  margin: 0 auto;
}

@media (min-width: 768px) {
  #cta {
      width: 50%;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer .addthis_inline_follow_toolbox {
  display: inline-block;
}
