html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, .4);
  background-color: rgba(0, 0, 0, .8);
  z-index: 10;
}

nav a#home {
  display: inline-block;
  width: 70px;
  height: 100%;
  background: transparent url(../img/startup-talks-logo.png) center center no-repeat;
  background-size: contain;
}

nav ul {
  display: inline-block;
  position: relative;
  align-self: center;
  padding: 0;
}

nav ul li {
  list-style: none;
}

nav ul li.mobile {
  display: inline-block;
}

nav ul li.mobile.close {
  position: inherit;
  z-index: 1;
}

nav ul li.full {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, .9);
  padding: 90px 15px 0 15px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

nav ul li.full ul {
  float: right;
}

nav ul li a {
  display: block;
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

nav ul li a:hover {
  text-decoration: none;
  color: #fff;
  border-bottom-color: aqua;
}

nav ul li.active a {
  border-bottom: 2px solid aqua;
}

header.page-home {
  background: transparent url("../img/background.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

header.page-home section {
  padding: 30px;
  z-index: 1;
}

header.page-home section .tags a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 3px solid aqua;
}

header.page-home section h2 {
  color: #fff;
  font-size: 4rem;
}

header.page-home section h3 {
  color: rgba(255, 255, 255, .6);
  font-size: 1.5rem;
}

header.page-home section p {
  color: rgba(255, 255, 255, .6);
  font-size: 1rem;
}

header.page-home button.play-button {
  display: none;
}

.cover, .cover-half, .cover-third {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.cover-half {
  height: 50%;
}

.cover-third {
  height: 34%;
}

.screen {
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  position: absolute;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer .addthis_inline_follow_toolbox {
  display: inline-block;
}

@media (min-width: 768px) {
  nav ul {
    position: initial;
  }

  nav ul li.mobile {
    display: none;
  }

  nav ul li.full {
    display: inline-block;
    background-color: transparent;
    position: initial;
    padding: 0;
    top: initial;
    left: initial;
    width: initial;
    height: initial;
  }

  nav ul li.full ul {
    float: none;
  }

  nav ul li {
    display: inline-block;
    margin: 0 0 0 10px;
  }

  header.page-home section {
    padding: 0;
    z-index: 1;
    position: absolute;
    left: 4rem;
    max-width: 50rem;
  }

  header.page-home section .tags a {
    font-size: 1.2rem;
  }

  header.page-home section h2 {
    font-size: 7rem;
  }

  header.page-home section h3 {
    font-size: 2.5rem;
  }

  header.page-home section p {
    color: rgba(255, 255, 255, .6);
    font-size: 1.5rem;
  }

  header.page-home button.play-button {
    display: block;
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    align-self: center;
  }

  header.page-home button.play-button i.circle {
    opacity: .2;
  }

  header.page-home button.play-button i.thin.circle {
    opacity: .4;
  }
}
